################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHub_Linq/FileContentIndex
/.vs/GitHub_Linq/v17/.wsuo
/.vs/GitHub_Linq/v17/DocumentLayout.json
