################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHub_Linq/FileContentIndex
/.vs/GitHub_Linq/v17/.wsuo
/.vs/GitHub_Linq/v17/DocumentLayout.json
/.vs/Tes1/FileContentIndex/d16a7df4-9421-4ffa-a721-59ca33719b3c.vsidx
/.vs/Tes1/v17/.wsuo
/.vs/Tes1/v17/DocumentLayout.json
/.vs/Tes1/v17/TestStore/0/000.testlog
/.vs/Tes1/v17/TestStore/0/testlog.manifest
/.vs/slnx.sqlite
/.vs/Tes1/FileContentIndex/b1601b8c-ca70-4167-8b76-65efc09319af.vsidx
/.vs/Tes1/FileContentIndex/dd3634c4-a646-4484-88da-5d69e6581ce6.vsidx
/.vs/VSWorkspaceState.json
/.vs/Tes1/FileContentIndex/42db03f0-f81e-4f69-9651-1b57dd84979b.vsidx
/.vs/Tes1/FileContentIndex/036d35ec-a189-4f08-a156-53d7344ae788.vsidx
/.vs/Tes1/FileContentIndex
/LinqTest/bin/Debug/net8.0/LinqTest.deps.json
/LinqTest/bin/Debug/net8.0/LinqTest.dll
/LinqTest/bin/Debug/net8.0/LinqTest.exe
/LinqTest/bin/Debug/net8.0/LinqTest.pdb
/LinqTest/bin/Debug/net8.0/LinqTest.runtimeconfig.json
*.vsidx
/LinqTest/obj/Release/net8.0/LinqTest.AssemblyInfo.cs
/LinqTest/.vs/LinqTest/v17/.suo
/LinqTest/obj/Debug/net8.0/LinqTest.AssemblyInfo.cs
/LinqTest/obj/Debug/net8.0/LinqTest.AssemblyInfoInputs.cache
/LinqTest/obj/Debug/net8.0/LinqTest.csproj.BuildWithSkipAnalyzers
/LinqTest/obj/Debug/net8.0/LinqTest.sourcelink.json
